@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  /* applies to everything*/
  --main-color: #efg;
}
.whatever {
  color: var(--main-color);
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  background-color: #4392f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #fff; /*  #2c2c2d; */
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 19px -7px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 3px 19px -7px rgba(0, 0, 0, 0.32);
  display: grid;
  grid-template-columns: minmax(38%, 40rem) repeat(2, minmax(29%, 29rem));
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
}

.header h1 {
  font-family: 'Roboto', serif;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #4392f1;
}
.header {
  grid-column: 1 / 2;
  grid-row: 4 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.balance {
  grid-column: 1/ 2;
  grid-row: -2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
  text-align: center;
  height: 200px;
}

.balance h2 {
  color: #4392f1;
  font-family: 'Roboto', serif;
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 1%;
}
.income-expense {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  font-family: 'Roboto', serif;
  text-align: center;
}
.bar-chart {
  grid-column: 1 / 4;
  grid-row: -1 / 5;
  width: 350px;
  margin-left: 4.5rem;
  margin-top: 6rem;
}
.input-group {
  display: flex;
  flex-direction: column;
}

.income {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin-top: -20px;
}

.expense {
  grid-column: 2 /2;
  grid-row: 1 / -1;
  margin-top: -20px;
}

.transactions-expense {
  text-transform: capitalize;
  grid-column: 3 / -1;
  grid-row: 7 / -1;
}
.transactions-income {
  text-transform: capitalize;
  grid-column: 2 / -1;
  grid-row: 7 / -1;
}
.expense-pie-chart-container {
  grid-column: 3 / -1;
  font-family: 'Roboto', serif;
  grid-row: 4 / -1;
  width: 390px;
  margin-left: -6rem;
  margin-top: 6rem;
}

.income-pie-chart-container {
  grid-column: 2 / -1;
  font-family: 'Roboto', serif;
  grid-row: 4 / -1;
  width: 390px;
  margin-left: -6rem;
  margin-top: 6rem;
}

.balance h3 {
  font-family: 'Roboto', serif;
  font-size: 4rem;
  font-weight: 300;
}

.minus {
  margin: 0 6rem 0 6rem;
}

.plus {
  color: #21a740;
  margin: 0 0rem 0 7rem;
}

.minus {
  color: #d64933;
}

.income-expense h3 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 100%;
}

.income-expense p {
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}

.form-wrapper {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: -0.5rem;
}

.income input:not([type='submit']):not([type='date']) {
  width: 30rem;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
  border: none;
  background: transparent;
  transition: all 0.5s;
  border-bottom: 0.2rem solid #000;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  color: #000;
  outline: none;
}
.expense input:not([type='submit']):not([type='date']) {
  width: 30rem;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
  border: none;
  background: transparent;
  border-bottom: 0.2rem solid #000;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  color: #000;
  outline: none;
  transition: all 0.5s;
}
.expense input::placeholder {
  color: #d3d3d3;
  /* color: #f8ad9d; */
  /* opacity: 1; Firefox */
}
.income input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d3d3d3;
  /* color: hsl(125, 79%, 75%); */
  /* opacity: 1; Firefox */
}
.required-description {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  color: #d64933;
}
.required-description-unique {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: #d64933;
}

.required-description-amount {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: #d64933;
}
.income input:not([type='submit']) {
  border-bottom: 0.2rem solid #000;
}
.expense input:not([type='submit']) {
  border-bottom: 0.2rem solid #000;
}

.input-group input[type='submit'] {
  width: 9rem;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-family: 'roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 1rem;
}
input[type='date'] {
  width: 30rem;
  margin-bottom: 2.5rem;
  border: none;
  background: transparent;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  outline: none;
}
/*input[type='date']::-webkit-calendar-picker-indicator {
  /* filter: invert(100%); */
/* color: #21ba45; */
/* } */

.input-group i {
  font-size: 1.3rem;
  margin-left: 6px;
  margin-right: -20px;
  margin-top: 20px;
  margin-bottom: -32px;
  z-index: 9999;
  position: relative;
  color: #fff;
  margin-right: 20px;
}

.input-group input[type='submit']:active {
  transform: translateY(0.3rem);
}

.income input[type='submit'] {
  background-color: #21ba45;
  position: relative;
  opacity: 100%;
  transition: 0.3s;
}
.income input:disabled[type='submit'] {
  background-color: #21ba45;
  position: relative;
  opacity: 50%;
  transition: 0.3s;
}

.expense input:disabled[type='submit'] {
  background-color: #d64933;
  opacity: 50%;
  transition: all 0.3s;
}
.expense input[type='submit'] {
  background-color: #d64933;
  opacity: 100%;
  transition: 0.3s;
}
.btn-edit i:hover {
  color: #23cc4a;
  transition: all 0.5s;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.transactions {
  margin-top: 3.5rem;
}

.transactions h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.75rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: #fff;
}

.transaction-list {
  width: 100%;
  max-height: 21rem;
  overflow: hidden;
  overflow-y: auto;
}

.transaction-list-income {
  width: 49%;
  max-height: 21rem;
  overflow: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;

  background-color: #8dbffe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4392f1;
  border-radius: 10px;
}

.transaction {
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  margin-bottom: 0.9rem;
  padding: 1.1rem 1rem 0.6rem 1rem;
  border-radius: 0.3rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}
label {
  font-family: 'Lato', sans-serif;

  color: #d3d3d3;
  font-size: 1.5rem;
}

.transaction-date {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  margin-top: -1.75rem;
  margin-left: 0.5rem;
}
.fa-calendar {
  font-size: 2.7rem;
  margin: -0.5rem 1rem 0rem -0.5rem;
}
.transactions-income .transaction {
  background-color: #21ba45;
  color: #fff;
}

.transactions-expense .transaction {
  background-color: #d64933;
  color: #fff;
  transition: all 0.5s;
}

.transaction-text {
  width: 20rem;
}

.transaction-amount {
  transform: translateX(7.5rem);
}

.delete-btn {
  transform: translateX(8.5rem);
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin: 0 1rem;

  color: #4392f1;
  cursor: pointer;
  outline: none;
}
.delete-btn:hover {
  color: #d64933;
  transition: all 0.5s;
}
.btn-edit {
  transform: translateX(8.5rem);
  padding: 0 -20rem;
  cursor: pointer;
  background-color: transparent;

  border: none;
  outline: none;
}
.btn-edit i {
  font-size: 16px;
  color: #4392f1;
  transition: all 0.5s;
  margin-right: 20px;
}
.btn-edit i:hover {
  color: #23cc4a;
  transition: all 0.5s;
}

.btn-editing {
  transform: translateX(8.5rem);
  padding: 0 -20rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-editing i {
  font-size: 16px;
  color: #23cc4a;
  margin-right: 20px;
}
@media (max-width: 1500px) {
  html {
    font-size: 58%;
  }

  .app-wrapper {
    width: 95%;
    max-width: 140rem;
    height: 85vh;
  }

  .balance {
    margin-top: 6rem;
  }

  .bar-chart {
    z-index: 9999;
  }

  .income-expense {
    margin-top: 7rem;
  }

  .transaction-list {
    max-height: 20rem;
  }

  .transaction {
    width: 30rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 52%;
  }

  .app-wrapper {
    grid-gap: 0;
  }

  .transaction-list {
    max-height: 20rem;
    transition: all 0.5s;
  }

  .transaction {
    width: 20rem;
  }
}
