/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Muli:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Oswald:wght@200;300;400&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  /* background-color: #77c987; */
  background-color: #71a9f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  width: 90%;
  max-width: 150rem;
  height: 80vh;
  background-color: #2c2c2d;
  /* background-color: #eff6ee; */
  color: #fcdc4d;
  border-radius: 1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: minmax(38%, 40rem) repeat(2, minmax(29%, 29rem));
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: 'Roboto', serif;
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* color: #f46036; */
  color: #71a9f7;
  /* color: #fcdc4d; */
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance {
  grid-column: 1 / 1;
  grid-row: 3 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  text-align: center;
}

.balance h2 {
  /* font-family: 'Baloo Da 2', serif; */
  margin-top: -7rem;
  font-family: 'Roboto', serif;
  font-size: 4.5rem;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance h3 {
  /* font-family: 'Baloo Da 2', serif; */
  font-family: 'Roboto', serif;
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.income-expense {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  /* font-family: 'Muli', serif; */
  font-family: 'Roboto', serif;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  text-align: right;
}

.plus,
.minus {
  margin: 0 2rem;
}

.plus {
  color: #77c987;
}

.minus {
  color: #ff716e;
}

.income-expense h3 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  width: 100%;
}

.income-expense p {
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}

.form-wrapper {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.income {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.expense {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.input-group input:not([type='submit']) {
  width: 30rem;
  margin-bottom: 2.5rem;
  border: none;
  background: transparent;
  /* border-bottom: 0.2rem solid #777; */
  border-bottom: 0.2rem solid #77c987;

  padding: 0.5rem 0.5rem 0.5rem 0;
  /* font-family: 'Baloo Da 2', serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Oswald', sans-serif; */

  /* font-family: 'Roboto', serif; */

  font-size: 1.8rem;
  color: #eee;
  outline: none;
  transition: border-bottom 0.4s;
}

.income input:not([type='submit']):focus {
  border-bottom: 0.2rem solid #77c987;
}
.income input:not([type='submit']) {
  border-bottom: 0.2rem solid #77c987;
}
.expense input:not([type='submit']) {
  border-bottom: 0.2rem solid #ff716e;
}

/* .expense input:not([type='submit']):focus {
  border-bottom: 0.2rem solid #ff716e;
} */

.input-group input[type='submit'] {
  width: 10rem;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  /* font-family: 'Muli', serif; */
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
  /* color: #222; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 0.5rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.input-group i {
  font-size: 1.3rem;
  margin-left: 9px;
  margin-right: -8px;
  margin-top: 16px;
  margin-bottom: -27px;
  z-index: 9999;
  /* color: #fff; */
  position: relative;
  color: #fff;

  /* background-color: transparent; */
  margin-right: 20px;
}

.input-group input[type='submit']:active {
  transform: translateY(0.3rem);
  /* z-index: 10; */
}

.income input[type='submit'] {
  /* background-color: #77c987; */
  background-color: #5a9b67;
  position: relative;
}

#income-input-submit-btn {
  background-color: #77c987;
}

.expense input[type='submit'] {
  /* background-color: #ff716e; */
  background-color: #cf5856;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.transactions {
  margin-top: 3rem;
}

.transactions h2 {
  /* font-family: 'Baloo da 2', serif; */
  font-family: 'Lato', sans-serif;
  font-size: 2.75rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #fff;
}

.transactions-income {
  text-transform: capitalize;
  grid-column: 2 / 3;
  grid-row: 5 / -1;
}

.transactions-expense {
  text-transform: capitalize;
  grid-column: 3 / -1;
  grid-row: 5 / -1;
}

.transaction-list {
  width: 100%;
  max-height: 35rem;
  overflow: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.transaction {
  list-style: none;
  /* font-family: 'Baloo da 2', serif; */
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  /* font-weight: 500; */
  letter-spacing: 0rem;
  margin-bottom: 1.5rem;
  /* color: #fff; */
  padding: 0.9rem 0.6rem 0.9rem 1rem;
  border-radius: 0.2rem;
  width: 32rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.transactions-income .transaction {
  background-color: #5a9b67;
  /* color: #222; */
  color: #fff;
}

.transactions-expense .transaction {
  background-color: #cf5856;
  /* color: #222; */
  color: #fff;
}

.transaction-text {
  width: 25rem;
}

.transaction-amount {
  transform: translateX(7.5rem);
}

.delete-btn {
  transform: translateX(8.5rem);
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin: 0 1rem;
  color: #d4403e;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}
.btn-edit {
  transform: translateX(8.5rem);
  padding: 0 -20rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-edit i {
  font-size: 16px;
  /* color: #bbb; */
  /* color: #fff; */
  color: #71a9f7;

  /* background-color: transparent; */
  margin-right: 20px;
}

.btn-editing {
  transform: translateX(8.5rem);
  padding: 0 -20rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-editing i {
  font-size: 16px;
  /* color: #bbb; */
  /* color: #fff; */
  color: #fff;

  /* background-color: transparent; */
  margin-right: 20px;
}
@media (max-width: 1500px) {
  html {
    font-size: 58%;
  }

  .app-wrapper {
    width: 95%;
    max-width: 140rem;
    height: 85vh;
  }

  .balance {
    margin-top: 6rem;
  }

  .income-expense {
    margin-top: 7rem;
  }

  .transaction-list {
    max-height: 31rem;
  }

  .transaction {
    width: 30rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 52%;
  }

  .app-wrapper {
    grid-gap: 0;
  }

  .transaction-list {
    max-height: 29rem;
  }

  .transaction {
    width: 28rem;
  }
}
